# The `.replace()` string method

### Import pandas

In [8]:
import pandas as pd

### Read CSV
We'll continue where we left off with the optimized dataset for lower the memory usage.

In [9]:
students = pd.read_csv("StudentsPerformance_lower.csv")
students['parental level of education'] = students['parental level of education'].astype('category')
students['race/ethnicity'] = students['race/ethnicity'].astype('category')
students['gender'] = students['gender'].astype('category')
students['lunch'] = students['lunch'].astype('category')
students.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72%,72%,74%
1,female,group C,some college,standard,completed,69%,90%,88%
2,female,group B,master's degree,standard,none,90%,95%,93%
3,male,group A,associate's degree,free/reduced,none,47%,57%,44%
4,male,group C,some college,standard,none,76%,78%,75%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   category
 1   race/ethnicity               1000 non-null   category
 2   parental level of education  1000 non-null   category
 3   lunch                        1000 non-null   category
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   object
 6   reading score                1000 non-null   object
 7   writing score                1000 non-null   object
dtypes: category(4), object(4)
memory usage: 35.9+ KB

### `.replace( )` method

'Completed'

0      group_B
1      group_C
2      group_B
3      group_A
4      group_C
        ...
995    group_E
996    group_C
997    group_C
998    group_D
999    group_D
Name: race/ethnicity, Length: 1000, dtype: object

8

In [20]:
# why does it say standard has 9 characters? Probably a space ⚠️

0       9
1       9
2       9
3      13
4       9
       ..
995     9
996    13
997    13
998     9
999    13
Name: lunch, Length: 1000, dtype: int64

In [24]:
# way to go, you found and removed whitespace hidden in the lunch column

0       8
1       8
2       8
3      12
4       8
       ..
995     8
996    12
997    12
998     8
999    12
Name: lunch, Length: 1000, dtype: int64

### Remove the `%` from all scores

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   category
 1   race/ethnicity               1000 non-null   category
 2   parental level of education  1000 non-null   category
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   object
 7   writing score                1000 non-null   object
dtypes: category(3), int64(1), object(4)
memory usage: 42.7+ KB

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72%,74%
1,female,group C,some college,standard,completed,69,90%,88%
2,female,group B,master's degree,standard,none,90,95%,93%
3,male,group A,associate's degree,free/reduced,none,47,57%,44%
4,male,group C,some college,standard,none,76,78%,75%

In [30]:
students.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   category
 1   race/ethnicity               1000 non-null   category
 2   parental level of education  1000 non-null   category
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: category(3), int64(3), object(2)
memory usage: 42.7+ KB

In [32]:
# students.to_csv("StudentsPerfomrance_normalized.csv", index=False)