# Split methods

### Import pandas

In [31]:
import pandas as pd

### Read CSV
Let's revisit the `animal_names.csv` and dive deeper into the `split()` string method.

About scientific animal names:
1. The genus name is always written first.
2. The first letter of the genus name is always capitalized.
3. The species name is never capitalized.

In [32]:
a_names = pd.read_csv("animal_names.csv")
a_names.head()

              scientific_name      country
0        Cercatetus concinnus   Azerbaijan
1            Lutra canadensis   Kazakhstan
2              Alopex lagopus        China
3            Macropus eugenii  Philippines
4  Calyptorhynchus magnificus     Cambodia

### Split the genus and species and create new columns

In [33]:
# you don't always need to specify n= number of splits (here we do)
a_names["scientific_name"].str.split(" ", n=1, expand=True)

                   0              1
0         Cercatetus      concinnus
1              Lutra     canadensis
2             Alopex        lagopus
3           Macropus        eugenii
4    Calyptorhynchus     magnificus
..               ...            ...
995             Anas  platyrhynchos
996          Isoodon       obesulus
997            Upupa          epops
998           Ratufa         indica
999          Columba       palumbus

[1000 rows x 2 columns]

In [34]:
a_names[["genus","species"]] = a_names["scientific_name"].str.split(" ", n=1, expand=True)

In [35]:
a_names.head()

              scientific_name      country            genus     species
0        Cercatetus concinnus   Azerbaijan       Cercatetus   concinnus
1            Lutra canadensis   Kazakhstan            Lutra  canadensis
2              Alopex lagopus        China           Alopex     lagopus
3            Macropus eugenii  Philippines         Macropus     eugenii
4  Calyptorhynchus magnificus     Cambodia  Calyptorhynchus  magnificus