# Strip methods

### Import pandas

In [36]:
import pandas as pd

### Read CSV
Let's revisit the optimized dataset for lower the memory usage and try to remove the whitespace using a strip method. I've added some extra whitespace and created a new csv: `StudentsPerfomrance_whitespace.csv`

In [37]:
students = pd.read_csv("StudentsPerfomrance_whitespace.csv")
students.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Review the `.replace( )` method

In [38]:
len("standard")

8

In [39]:
# why does it say standard has 13 characters? Probably whitespace ⚠️
students["lunch"].str.len()

0      13
1      13
2      13
3      17
4      13
       ..
995    13
996    17
997    17
998    13
999    17
Name: lunch, Length: 1000, dtype: int64

In [40]:
len("female")

6

In [41]:
# why does "female" contain 10 characters? Probably whitespace ⚠️
students["gender"].str.len()

0      10
1      10
2      10
3       8
4       8
       ..
995    10
996     8
997    10
998    10
999    10
Name: gender, Length: 1000, dtype: int64

In [34]:
# way to go, you found and removed whitespace hidden in the lunch column
students["lunch"].str.len()

0      13
1      13
2      13
3      17
4      13
       ..
995    13
996    17
997    17
998    13
999    17
Name: lunch, Length: 1000, dtype: int64

In [35]:
students["gender"].str.len()

0      10
1      10
2      10
3       8
4       8
       ..
995    10
996     8
997    10
998    10
999    10
Name: gender, Length: 1000, dtype: int64

In [ ]:
# we could use the replace method but there is a better way
students["lunch"] = students["lunch"].str.replace(" ", "")

### The `strip( )`, `lstrip( )`, and  `rstrip()` methods

In [42]:
# lstrip() remove whitespace on the left
"    Example  ".lstrip()

'Example  '

In [43]:
# rstrip() remove whitespace on the right
"Example  ".rstrip()

'Example'

In [44]:
# finally, strip() removes all white space (lstrip + rstrip)
"    Example  ".strip()

'Example'

In [46]:
# note that it doesn't remove the whitespace in between
students["race/ethnicity"].str.strip()

0      group B
1      group C
2      group B
3      group A
4      group C
        ...
995    group E
996    group C
997    group C
998    group D
999    group D
Name: race/ethnicity, Length: 1000, dtype: object

### Remove whitespace for the gender column

In [53]:
len("female")

6

In [48]:
students["gender"].str.len()

0      10
1      10
2      10
3       8
4       8
       ..
995    10
996     8
997    10
998    10
999    10
Name: gender, Length: 1000, dtype: int64

In [51]:
# remove whitespace on the left and right for
students["gender"] = students["gender"].str.strip()

In [52]:
students["gender"].str.len()

0      6
1      6
2      6
3      4
4      4
      ..
995    6
996    4
997    6
998    6
999    6
Name: gender, Length: 1000, dtype: int64

### Remove whitespace for the lunch column

In [54]:
len("standard")

8

In [55]:
students["lunch"].str.len()

0      13
1      13
2      13
3      17
4      13
       ..
995    13
996    17
997    17
998    13
999    17
Name: lunch, Length: 1000, dtype: int64

In [56]:
students["lunch"] = students["lunch"].str.strip()

In [57]:
students["lunch"].str.len()

0       8
1       8
2       8
3      12
4       8
       ..
995     8
996    12
997    12
998     8
999    12
Name: lunch, Length: 1000, dtype: int64