# Split methods

### Import pandas

In [1]:
import pandas as pd

### Read CSV
Let's revisit the `animal_names.csv` to use the `split()` string method.

In [3]:
a_names = pd.read_csv("animal_names.csv")
a_names.head()

              scientific_name      country
0        Cercatetus concinnus   Azerbaijan
1            Lutra canadensis   Kazakhstan
2              Alopex lagopus        China
3            Macropus eugenii  Philippines
4  Calyptorhynchus magnificus     Cambodia

In [4]:
"This is a string".split(" ")

['This', 'is', 'a', 'string']

In [6]:
a_names["scientific_name"].str.split(" ")

0            [Cercatetus, concinnus]
1                [Lutra, canadensis]
2                  [Alopex, lagopus]
3                [Macropus, eugenii]
4      [Calyptorhynchus, magnificus]
                   ...
995            [Anas, platyrhynchos]
996              [Isoodon, obesulus]
997                   [Upupa, epops]
998                 [Ratufa, indica]
999              [Columba, palumbus]
Name: scientific_name, Length: 1000, dtype: object

In [8]:
a_names["scientific_name"].str.split(" ").str.get(0)

0           Cercatetus
1                Lutra
2               Alopex
3             Macropus
4      Calyptorhynchus
            ...
995               Anas
996            Isoodon
997              Upupa
998             Ratufa
999            Columba
Name: scientific_name, Length: 1000, dtype: object

In [9]:
a_names["scientific_name"].str.split(" ").str.get(0).value_counts()

Macropus       23
unavailable    19
Felis          19
Canis          12
Varanus        11
               ..
Delphinus       1
Tachybaptus     1
Taurotagus      1
Rana            1
Cochlearius     1
Name: scientific_name, Length: 348, dtype: int64

ü¶ò[Macropus](https://en.wikipedia.org/wiki/Macropus) is a marsupial genus in the family Macropodidae. It has two extant species of large terrestrial kangaroos. The term is derived from the Ancient Greek ŒºŒ¨Œ∫œÅŒøœÇ, makros "long" and œÄŒøœÖœÇ, pous "foot". Thirteen known extinct species are recognised. The type species is the eastern grey kangaroo. [Wikipedia](https://en.wikipedia.org/wiki/Macropus)