# Add New Columns to a DataFrame

### Import Pandas

In [ ]:
# Import pandas

### Read CSV

In [ ]:
# called the head method

### Create a New Column

In [ ]:
# creates a new column and adds "TBD" as the default value for the entire column

In [ ]:
# return the DataFrame and you will see a new column with "TBD" as all values

### Re-read CSV

### Add New Column by Index

In [ ]:
# the .insert() method is great for adding columns by column index position
# no need for inplce=True. inplace() modified the original dataset

In [ ]:
# easily add columns by index position