# Broadcasting Methods

### Import Pandas

In [ ]:
# Import pandas

### Read CSV

In [ ]:
# called the head method to see what were working with

### Broadcasting with the .add() method

In [ ]:
# broadcast 5 to all values using the add() math broadcasting method
# doesn't chage the original dataset

### Original DataFrame

### Broadcasting with the .sub() method

In [ ]:
# broadcast -5 to all values using the sub() math broadcasting method
# doesn't chage the original dataset

### Original DataFrame

### Broadcasting with the .sub() method

In [ ]:
# broadcast Salary in millions (/ 1000000) to all values using the div() math broadcasting method
# doesn't chage the original dataset

In [ ]:
# again, the original is in tact

### Convert `base_salary` to Euros

In [ ]:
# broadcast salary in EUR to all values using the mul() math broadcasting method

### Adding a new column to a DataFrame

In [ ]:
# create a new column name and assign it to = the operation