# The `.dt` accessor
Much like the `.str` prefix, `.dt` works in similarly to return attribute from Datetime.

In [22]:
import pandas as pd

### Create a date range to access some attributes: `dates`

In [23]:
dates = pd.date_range(start="2020-01-01", end = "2020-12-31", freq = "D")

### Create a Series

In [24]:
date_series = pd.Series(dates)

In [18]:
# check out the attribute available with TAB
date_series.dt.

In [25]:
# date_series.day
date_series.dt.day

0       1
1       2
2       3
3       4
4       5
       ..
361    27
362    28
363    29
364    30
365    31
Length: 366, dtype: int64

In [38]:
date_series.dt.day_name()

0      Wednesday
1       Thursday
2         Friday
3       Saturday
4         Sunday
         ...
361       Sunday
362       Monday
363      Tuesday
364    Wednesday
365     Thursday
Length: 366, dtype: object

In [45]:
date_series.dt.daysinmonth.head(40)

0     31
1     31
2     31
3     31
4     31
5     31
6     31
7     31
8     31
9     31
10    31
11    31
12    31
13    31
14    31
15    31
16    31
17    31
18    31
19    31
20    31
21    31
22    31
23    31
24    31
25    31
26    31
27    31
28    31
29    31
30    31
31    29
32    29
33    29
34    29
35    29
36    29
37    29
38    29
39    29
dtype: int64

In [46]:
date_series.dt.year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
361    2020
362    2020
363    2020
364    2020
365    2020
Length: 366, dtype: int64

In [47]:
mask = date_series.dt.is_quarter_start
date_series[mask]

0     2020-01-01
91    2020-04-01
182   2020-07-01
274   2020-10-01
dtype: datetime64[ns]