# The `.concat()` method

### Import pandas

In [1]:
import pandas as pd

### Read CSV

In [2]:
customers = pd.read_csv("cafe_customers.csv")
items = pd.read_csv("cafe_items.csv")
week_1 = pd.read_csv("cafe_week_1_sales.csv")
week_2 = pd.read_csv("cafe_week_2_sales.csv")

### Concatenate or combine two tables or DataFrames

In [10]:
# note how the indices are stacked (we have 500)
pd.concat(objs = [week_1, week_2])

     cust_id  item_id
0        483        1
1        263        1
2        146        1
3        933        4
4        768        3
..       ...      ...
245      940        6
246      149        5
247      545        7
248      301        7
249      134       10

[500 rows x 2 columns]

In [4]:
# use the ingore_index=True parameter to fix this
pd.concat(objs = [week_1, week_2], ignore_index = True)

     cust_id  item_id
0        483        1
1        263        1
2        146        1
3        933        4
4        768        3
..       ...      ...
495      940        6
496      149        5
497      545        7
498      301        7
499      134       10

[500 rows x 2 columns]

### But wait, how can you keep track of each week?
Well, the `keys = ["week_1", "week_2"]` parameter of course!

In [5]:
pd.concat(objs = [week_1, week_2], keys = ["week_1", "week_2"])

            cust_id  item_id
week_1 0        483        1
       1        263        1
       2        146        1
       3        933        4
       4        768        3
...             ...      ...
week_2 245      940        6
       246      149        5
       247      545        7
       248      301        7
       249      134       10

[500 rows x 2 columns]

### To access of week, use `.loc[ ]`

In [6]:
sales = pd.concat(objs = [week_1, week_2], keys = ["week_1", "week_2"])
sales.loc[("week_1", 0)]

cust_id    483
item_id      1
Name: (week_1, 0), dtype: int64

In [7]:
sales.loc[("week_2", 249)]

cust_id    134
item_id     10
Name: (week_2, 249), dtype: int64

In [8]:
sales.loc[("week_2", 249), "cust_id"]

134

In [9]:
sales.loc[("week_2", 249), "item_id"]

10