# Sort by values `sort_values()`

### Import Pandas

In [1]:
import pandas as pd

### Read CSV as Series

In [2]:
a_names = pd.read_csv('animal_names.csv', usecols=['scientific_name']).squeeze("columns")

### Sort by Values `sort_values()`

In [4]:
# sorting a Series alphabetically
a_names.sort_values()

265              Acanthaster planci
22                 Acinynox jubatus
844    Acrantophis madagascariensis
680    Acrantophis madagascariensis
372    Acrantophis madagascariensis
                   ...
388                     unavailable
91                      unavailable
283                     unavailable
475                     unavailable
908                     unavailable
Name: scientific_name, Length: 1000, dtype: object

### Method Chain

In [5]:
# a useful method chain
a_names.sort_values().head()

265              Acanthaster planci
22                 Acinynox jubatus
844    Acrantophis madagascariensis
680    Acrantophis madagascariensis
372    Acrantophis madagascariensis
Name: scientific_name, dtype: object

### `sort_values()` parameters

In [6]:
# hold shift + tab inside of method
a_names.sort_values(ascending=False).tail()

844    Acrantophis madagascariensis
680    Acrantophis madagascariensis
372    Acrantophis madagascariensis
22                 Acinynox jubatus
265              Acanthaster planci
Name: scientific_name, dtype: object