# `unique` and `nunique()` Methods

### Import Pandas

In [25]:
import pandas as pd

### Employee data

In [26]:
df = pd.read_csv("employee.csv", parse_dates = ["start_date"])

### Head

In [27]:
# called the head method to see what were working with
df.head()

  first_name   last_name  salary start_date    gender  remote         team
0    Haleigh  Calderhead  334473 2020-05-09       NaN    True   management
1    Coretta      McEvon  637457 2020-03-20      Male   False  engineering
2   Clarette     Tarbett  977749 2020-11-22   Agender    True  engineering
3      Jaime  Gianneschi  253523 2020-09-02  Bigender   False    marketing
4      Ediva     Skelton  325185 2020-02-04    Female    True    marketing

### `unique()`

In [19]:
df["gender"]

0              NaN
1             Male
2          Agender
3         Bigender
4           Female
          ...
995     Polygender
996    Genderfluid
997    Genderqueer
998         Female
999     Polygender
Name: gender, Length: 1000, dtype: object

In [23]:
df["gender"].unique()

array([nan, 'Male', 'Agender', 'Bigender', 'Female', 'Polygender',
       'Non-binary', 'Genderfluid', 'Genderqueer'], dtype=object)

In [24]:
len(df["gender"].unique())

9

### `nunique()`

In [14]:
# instead of len(), you can use nunique()
# but it drops null values ⚠️
df["gender"].nunique()

8

In [15]:
# you can specify not to drop null values
df["gender"].nunique(dropna=False)

9