# Math Methods

### Import Pandas

In [6]:
import pandas as pd

### Read CSV as Series

In [7]:
tesla = pd.read_csv('tsla.csv').squeeze("columns")

In [8]:
tesla.head(3)

0    23.89
1    23.83
2    21.96
Name: Price, dtype: float64

### Return Count with `len()`

In [9]:
# returns count of all values (including nulls)
len(tesla)

2416

### Return Count

In [10]:
# returns count of valid values (rows) (excludes nulls)
tesla.count()

2416

### `sum()`

In [11]:
# sums all values
tesla.sum()

450351.22000000003

### `mean()`

In [12]:
# average or mean
tesla.mean()

186.40365066225178

### `std()`

In [13]:
# standard deviation
tesla.std()

119.13601976786369

### `min()`

In [14]:
tesla.min()

15.8

### `max()`

In [15]:
tesla.max()

780.0

### `median()`

In [16]:
# return the middle value
tesla.median()

212.96

### `mode()`

In [17]:
# returns most frequent number
tesla.mode()

0    27.42
Name: Price, dtype: float64

In [24]:
# example
s = pd.Series([1,2,3,4,5,6,7,7,7])
s.mode()

0    7
dtype: int64

### `describe()`

In [25]:
tesla.describe()

count    2416.000000
mean      186.403651
std       119.136020
min        15.800000
25%        34.400000
50%       212.960000
75%       266.775000
max       780.000000
Name: Price, dtype: float64