# Unique `value_counts()`

### Import Pandas

In [10]:
import pandas as pd

### Import csv as a DataFrame

In [11]:
# import csv as DataFrame
a_names = pd.read_csv('animal_names.csv')
a_names.head(3)

        scientific_name     country
0  Cercatetus concinnus  Azerbaijan
1      Lutra canadensis  Kazakhstan
2        Alopex lagopus       China

### Import csv as a Series
Using `squeeze` and `usecols`

In [14]:
# import csv as Series
a_names = pd.read_csv('animal_names.csv', usecols=['scientific_name']).squeeze("columns")
a_names.head(3)

0    Cercatetus concinnus
1        Lutra canadensis
2          Alopex lagopus
Name: scientific_name, dtype: object

# `sci_name` values as index

In [4]:
# use sci_name values as index
a_names = pd.read_csv('animal_names.csv', index_col=['scientific_name']).squeeze("columns")
a_names.head(3)

scientific_name
Cercatetus concinnus    Azerbaijan
Lutra canadensis        Kazakhstan
Alopex lagopus               China
Name: country, dtype: object

### New Series with the count of unique values | Descending

In [5]:
# return a new Series with the count of unique values
a_names.value_counts()

China          197
Indonesia      110
Russia          60
Philippines     43
Brazil          32
              ...
Laos             1
Kuwait           1
Somalia          1
Ghana            1
Angola           1
Name: country, Length: 128, dtype: int64

### New Series with the count of unique values | Ascending

In [6]:
# return a new Series with the count of unique values
a_names.value_counts(ascending=True)

Angola                1
Guinea                1
Seychelles            1
French Polynesia      1
Somalia               1
                   ...
Brazil               32
Philippines          43
Russia               60
Indonesia           110
China               197
Name: country, Length: 128, dtype: int64

### New Series counts of the last 60 unique values | Ascending

In [7]:
# return a new Series with the count of last 60 unique values in ascending order
a_names.value_counts(ascending=True).tail(60)

New Zealand                 3
Cuba                        3
Cameroon                    3
Uganda                      3
Kazakhstan                  3
Madagascar                  3
Israel                      3
Finland                     3
Malaysia                    3
Lithuania                   3
Tunisia                     4
Moldova                     4
Nepal                       4
Guatemala                   4
Netherlands                 4
Dominican Republic          4
North Korea                 4
Kenya                       4
Palestinian Territory       4
Bosnia and Herzegovina      4
Spain                       4
Morocco                     4
Croatia                     5
Norway                      5
Afghanistan                 5
Slovenia                    5
Azerbaijan                  5
Serbia                      5
Macedonia                   5
Iran                        6
Bulgaria                    6
South Africa                6
Luxembourg                  6
Vietnam                     6
Costa Rica                  6
Tanzania                    7
Mexico                      7
Nigeria                     8
Pakistan                    8
Honduras                    8
Thailand                    8
Colombia                    8
Yemen                       9
Peru                       12
Argentina                  15
Greece                     16
Canada                     17
Japan                      18
Ukraine                    19
Czech Republic             20
United States              22
Poland                     28
France                     28
Portugal                   30
Sweden                     31
Brazil                     32
Philippines                43
Russia                     60
Indonesia                 110
China                     197
Name: country, dtype: int64

### New Series with sum of unique values

In [8]:
# return a new Series with the count of the last 60 unique values
a_names.value_counts().sum()

1000

### The sum will match the count, or size of Series

In [9]:
# sum
a_names.count()

1000