# `head()` & `tail()`

### Import Pandas

In [1]:
import pandas as pd

### Import Series as `a_names`

In [3]:
a_names = pd.read_csv('animal_names.csv', usecols=['scientific_name']).squeeze("columns")

In [4]:
a_names

0            Cercatetus concinnus
1                Lutra canadensis
2                  Alopex lagopus
3                Macropus eugenii
4      Calyptorhynchus magnificus
                  ...
995            Anas platyrhynchos
996              Isoodon obesulus
997                   Upupa epops
998                 Ratufa indica
999              Columba palumbus
Name: scientific_name, Length: 1000, dtype: object

### `head()`

In [5]:
# head() method
a_names.head() # first five rows
# head_names = a_names.head()

0          Cercatetus concinnus
1              Lutra canadensis
2                Alopex lagopus
3              Macropus eugenii
4    Calyptorhynchus magnificus
Name: scientific_name, dtype: object

In [6]:
# head(10) method
a_names.head(10) # first ten rows

0          Cercatetus concinnus
1              Lutra canadensis
2                Alopex lagopus
3              Macropus eugenii
4    Calyptorhynchus magnificus
5             Castor canadensis
6         Raphicerus campestris
7          Spermophilus parryii
8            Cordylus giganteus
9                     Naja haje
Name: scientific_name, dtype: object

### `tail()`

In [7]:
# tail() method
a_names.tail() # last five rows

995    Anas platyrhynchos
996      Isoodon obesulus
997           Upupa epops
998         Ratufa indica
999      Columba palumbus
Name: scientific_name, dtype: object

In [8]:
# tail(10) method
a_names.tail(10) # last ten rows

990             Neotis denhami
991           Paroaria gularis
992    Cochlearius cochlearius
993            Snycerus caffer
994       Aegypius occipitalis
995         Anas platyrhynchos
996           Isoodon obesulus
997                Upupa epops
998              Ratufa indica
999           Columba palumbus
Name: scientific_name, dtype: object