# `.dropna()` to drop NULL values

### Import Pandas

In [ ]:
# import pandas

### U.S. Major League Soccer Salaries

### Remove NaN values

In [ ]:
# return the DataFrame

### Return information about the DataFrame including Non_Null Count

### Drop any rows with missing values

In [ ]:
# drop any row that contains a NaN value by default (how='any')

### Return information about the DataFrame including Non_Null Count

### Return DataFrame without null values

In [ ]:
# return the DataFrame with no NaN values

### Reset dataset

In [ ]:
# reset by re-reading original dataset

### Remove NaN values by column

In [ ]:
# fisrt, return a column as a Series from the DataFrame

In [ ]:
# you can also use a list to specify which columns to target using subset=

In [ ]:
# no NaN values

### Reset dataset

In [ ]:
# reset by re-reading original dataset

In [ ]:
# drop only rows with all null values (how='all')

In [ ]:
# make drop permanent with inplace

In [ ]:
# it is now permanent

### Reset dataset

In [ ]:
# reset by re-reading original dataset

In [ ]:
salaries.dropna(how='any', inplace=True)

In [ ]:
# drop columns that contain any null values 
# remember (how='any') is the default

### Reset dataset

In [ ]:
# reset by re-reading original dataset

In [ ]:
# drop columns with null values in the base_salary column