# `.fillna()` to fill NULL values

### Import Pandas

In [ ]:
# import pandas

### U.S. Major League Soccer Salaries

### NaN values in the tail

In [ ]:
# called the head method to see what were working with

### Replace NaN values with 0 using `fillna()`

In [ ]:
# replaces aall NaN values with 0

### This makes more sense for categorical data types
When working with a mixed data types DataFrame, you might want to work on certain columns, not the whole DataFrame. For example, 0 works in the salary and compensation columns but not really for position or club. Try something more semantic like "none".

In [ ]:
# examine the position column

In [ ]:
# you can also specify which column(s) to target

### Try `base_salary` next