# Timstamp attributes and methods

### Import libraries

In [2]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

### Get Solana cryptocurrency data

In [3]:
# you can define crypto currency data without start end
# to return all data from the start of SOL to today
sol = data.DataReader('SOL-USD','yahoo')
sol.head(3)

                High       Low      Open     Close    Volume  Adj Close
Date
2020-04-10  1.313487  0.694187  0.832005  0.951054  87364276   0.951054
2020-04-11  1.049073  0.765020  0.951054  0.776819  43862444   0.776819
2020-04-12  0.956670  0.762426  0.785448  0.882507  38736897   0.882507

### Timestamp attributes

In [21]:
first_row = sol.index[0]
first_row

Timestamp('2020-04-10 00:00:00')

In [24]:
first_row.month

4

In [25]:
first_row.week

15

In [26]:
first_row.day

10

In [27]:
first_row.is_month_start

False

In [28]:
first_row.is_month_end

False

### Calendar quarters
The standard calendar quarters that make up the year are as follows:

- January, February, and March (Q1)
- April, May, and June (Q2)
- July, August, and September (Q3)
- October, November, and December (Q4)

In [29]:
first_row.is_quarter_start

False

In [30]:
first_row.is_quarter_end

False

### Timestamp methods

In [31]:
first_row.month_name()

'April'

In [32]:
first_row.day_name()

'Friday'

In [36]:
sol.index.month_name()

Index(['April', 'April', 'April', 'April', 'April', 'April', 'April', 'April',
       'April', 'April',
       ...
       'March', 'March', 'March', 'March', 'March', 'March', 'March', 'March',
       'March', 'March'],
      dtype='object', name='Date', length=706)

In [37]:
sol.index.day_name()

Index(['Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Saturday', 'Sunday',
       ...
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday', 'Monday', 'Tuesday', 'Wednesday'],
      dtype='object', name='Date', length=706)

In [38]:
sol.insert(0, "Weekday", sol.index.day_name())

In [39]:
sol

,Weekday,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2020-04-10,Friday,1.313487,0.694187,0.832005,0.951054,87364276,0.951054
2020-04-11,Saturday,1.049073,0.765020,0.951054,0.776819,43862444,0.776819
2020-04-12,Sunday,0.956670,0.762426,0.785448,0.882507,38736897,0.882507
2020-04-13,Monday,0.891603,0.773976,0.890760,0.777832,18211285,0.777832
2020-04-14,Tuesday,0.796472,0.628169,0.777832,0.661925,16747614,0.661925
...,...,...,...,...,...,...,...
2022-03-12,Saturday,82.663757,80.722099,80.747520,81.553818,1036290480,81.553818
2022-03-13,Sunday,82.883034,78.004387,81.531219,78.936073,1316842580,78.936073
2022-03-14,Monday,82.099304,78.274353,78.925575,81.173340,1676601058,81.173340
2022-03-15,Tuesday,85.519310,79.071777,81.170059,82.955086,1627848455,82.955086
2022-03-16,Wednesday,86.827736,81.653244,82.870468,85.972458,2335193344,85.972458

### Now you can filter by weekday!

In [53]:
friyay = sol.loc[sol["Weekday"] == "Friday"]

In [64]:
friyay["Adj Close"].mean()

53.011350539061105

In [65]:
monay = sol.loc[sol["Weekday"] == "Monday"]

In [67]:
monay["Adj Close"].mean()

53.45443736149533