# Select `.DatetimeIndex` rows with `.loc[ ] ` & `.iloc[ ]`

### Import libraries

In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

### Get Solana cryptocurrency data

In [2]:
# you can define crypto currency data without start end
# to return all data from the start of SOL to today
sol = data.DataReader('SOL-USD','yahoo')
sol.head(3)

                High       Low      Open     Close    Volume  Adj Close
Date
2020-04-10  1.313487  0.694187  0.832005  0.951054  87364276   0.951054
2020-04-11  1.049073  0.765020  0.951054  0.776819  43862444   0.776819
2020-04-12  0.956670  0.762426  0.785448  0.882507  38736897   0.882507

### Returning rows with `.loc[ ]`

In [3]:
# return the first row with an index label
sol.loc["2020-04-10"]

High         1.313487e+00
Low          6.941870e-01
Open         8.320050e-01
Close        9.510540e-01
Volume       8.736428e+07
Adj Close    9.510540e-01
Name: 2020-04-10 00:00:00, dtype: float64

In [4]:
# what is 6.941870e-01? Aprox 1.3
print(float(1.313487e+00))

1.313487

In [5]:
# what is 8.736428e+07? Aprox 87 million
print(float(8.736428e+07))

87364280.0

### Returning rows with `.iloc[ ]`

In [6]:
# return the first row by index label
sol.iloc[0]

High         1.313487e+00
Low          6.941870e-01
Open         8.320050e-01
Close        9.510540e-01
Volume       8.736428e+07
Adj Close    9.510540e-01
Name: 2020-04-10 00:00:00, dtype: float64

In [7]:
# return the last row by index label
sol.iloc[-1]

High         8.682774e+01
Low          8.165324e+01
Open         8.287047e+01
Close        8.612289e+01
Volume       2.335714e+09
Adj Close    8.612289e+01
Name: 2022-03-16 00:00:00, dtype: float64

### Returning row by multiple date and date ranges

In [8]:
# return multiple rows by index label
sol.loc[["2020-04-10", "2020-04-14"]]

                High       Low      Open     Close    Volume  Adj Close
Date
2020-04-10  1.313487  0.694187  0.832005  0.951054  87364276   0.951054
2020-04-14  0.796472  0.628169  0.777832  0.661925  16747614   0.661925

In [9]:
# return multiple rows by index label range (inclusive)
sol.loc["2020-04-10":"2020-04-15"]

                High       Low      Open     Close    Volume  Adj Close
Date
2020-04-10  1.313487  0.694187  0.832005  0.951054  87364276   0.951054
2020-04-11  1.049073  0.765020  0.951054  0.776819  43862444   0.776819
2020-04-12  0.956670  0.762426  0.785448  0.882507  38736897   0.882507
2020-04-13  0.891603  0.773976  0.890760  0.777832  18211285   0.777832
2020-04-14  0.796472  0.628169  0.777832  0.661925  16747614   0.661925
2020-04-15  0.704964  0.621531  0.669289  0.646651  13075275   0.646651

In [10]:
# return multiple rows by index (exclusive)
sol.iloc[0:6]

                High       Low      Open     Close    Volume  Adj Close
Date
2020-04-10  1.313487  0.694187  0.832005  0.951054  87364276   0.951054
2020-04-11  1.049073  0.765020  0.951054  0.776819  43862444   0.776819
2020-04-12  0.956670  0.762426  0.785448  0.882507  38736897   0.882507
2020-04-13  0.891603  0.773976  0.890760  0.777832  18211285   0.777832
2020-04-14  0.796472  0.628169  0.777832  0.661925  16747614   0.661925
2020-04-15  0.704964  0.621531  0.669289  0.646651  13075275   0.646651